::ng-deep .date-picker-box .mat-form-field-appearance-outline .mat-form-field-infix {
    display: flex !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.dialog-container {
    position: relative;

    mat-progress-bar {
        position: absolute;
        left: -24px;
        right: -24px;
        top: -24px;
        width: calc(100% + 48px)
    }
}